/node_modules
/public/hot
/public/storage
/public/rec
/public/rec/*
/public/rec/
/public/audio
/public/aws
/public/download
/public/opt
/storage/*.key
/public/call_recordings
/public/call_recordings/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
